*.log
.DS_Store
.env
.env.*
.env.backup
.env.production
env.smarter
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/mobile-docentes/node_modules
/mobile-docentes/.expo
/mobile-docentes/android
/mobile-docentes/ios
/mobile-docentes/dist
/mobile-docentes/.gradle
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
Homestead.json
Homestead.yaml
Thumbs.db
